body {
  background-color: black;
  display: flex;
  flex-direction: column;
  margin: 0;
 
}
header {
  width: 100vw;
  background-color:#0F1035;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  margin-top: -0.5rem;
  margin-bottom: 100px;
}
ul {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
li {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  list-style: none;
}

li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transition: 0.3s color ease;
}
li a:hover {
  color:#F0EDCF;
}

h1,
p {
  margin: 0;
  padding: 0;
}
p {
  font-family: "Work Sans", sans-serif;
  margin-bottom: 6px;
  font-size: 18px;
}
.artistContainer {
  display: flex;
  margin-bottom: 20px;
  max-width: 1440px;
  height: 400px;
  margin: 0 auto 32px auto;
  padding: 0 80px;

}

.lineUpArtist {
  width: 50%;
  background-size: contain;
}

.artistInfos {
  width: 50%;
  background-color: white;
  color: black;
  padding: 32px 32px 0 48px;
}
.header {
  font-size: 36px;
  font-family: "Kanit", sans-serif;
  font-weight: 800;
}
.ticketButtonWrapper {
  margin-top: 40px;
}
.ticketButton {
  padding: 16px 32px;
  border-radius: 32px;
  border: none;
  background-color: black;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
  width: 20%;
}
a:hover {
 background-color:#0B60B0;
 cursor: pointer;
}


/* Footer */

footer {

  bottom: 0;
  background-color:#0F1035 ;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  color: #fff;
  margin-top: 100px;
  
}
.footer_container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social_media {
  font-size: 30px;
  margin-right: 20px;
}

.copyright {
  font-size: 20px;
  margin-left: 20px;
}
